#map{
    height: auto;
    width: 20vw;
    transition-duration: 2000ms;
    cursor: zoom-in;
}
.enlarge{
    width: 100vw !important;
    cursor: zoom-out !important;
}

#leftfoot, #rightfoot {
    position:absolute;
    display:block;
    border: solid 1px transparent;
    -webkit-backface-visibility:hidden;
    transform: rotate(45deg);
    display: none;
  }

