
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Press+Start+2P&display=swap');

body{
        position: relative;
        display: flex;
        justify-content: center;
        top:35vh;
        font-size: 85px;
        font-family: 'Press Start 2P', cursive;
        /* color: yellow; */

        background-image: url("background.jpeg");

        object-fit: fill;
}


a{
    color: blue;
    
}



video
{
    display: block;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 22ch;
    animation: typing 2s steps(10), blink .5s step-end  alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


  .b
  {
      
      display: block;
      background-color: blue;

        
    }